.QuestionPage {
  display: block;
}

.iconContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.NavigationContainer {
  text-align: center;
}

.NavigationContainer div {
  display: inline-block;
  border-radius: 100%;
  border: thin solid transparent;
  width: 50px;
  height: 50px;
  background-color: #f69023;
  color: #fff;
  position: relative;
  cursor: pointer;
}

.NavigationContainer div:nth-child(1) {
  margin-right: 65px;
}

.questionNumberIdentifier {
  text-align: center;
  margin: 20px 0px;
}

.previousQuestionWarning {
  margin: 16px 0px;
  color: #ccc;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
}

.NavigationContainer div.disabledNav {
  background-color: #bbb;
  cursor: not-allowed;
}

.abortButtonContainer {
  margin-top: 40px;
  text-align: center;
}
