.container {
  background: #fff;
  color: #444;
  max-width: 65%;
  margin: 8px auto;
  padding: 20px 25px;
}

.buttonContainer {
  text-align: center;
  padding: 10px;
}

.errorMessage {
  margin: 10px 0;
  color: #d52714;
  font-size: 0.9rem;
}

@media (max-width: 480px) {
  .container {
    max-width: 460px;
  }
}
